# Python
__pycache__/
*.py[cod]
*$py.class

venv/
env/
ENV/
.venv/

*.log
*.Python*.__pycache__db.sqlite3
db.sqlite3-journal

*/migrations/__pycache__/

media/
staticfiles/
.env
.vscode/
.idea/
.DS_Store
Thumbs.db
node_modules/
dist/
build/
npm-debug.log
yarn-error.log